body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  color: #4D4E53;
}

h2 {
  margin-block-end: 0.1em;
  font-size: 1em;
}

#tests {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

.test {
  display: flex;
  width: 100%;
  color: #FFF;
  margin-block-end: 1px;
}

.hasErrors {
  background-color: #CB000F;
}

.ok {
  background-color: #00882D;
}

.testName {
  padding-inline-start: 0.5em;
}

.errorCount {
  flex-grow: 1;
  padding-inline-end: 0.5em;
  text-align: end;
}