html, body {
  margin: 0;
}

body {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5em;
  color: #4D4E53;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-height: 100vh;
  padding: 10px;
}

h2 {
  margin-block-end: 0.1em;
  font-size: 1em;
}

#btn-runtests {
  max-width: fit-content;
  max-width: -moz-fit-content;
}

#summary {
  display: none;
}

#summary > p {
  margin-block-start: 10px;
  margin-block-end: 10px;
}

#summary > p:not(:first-child) {
  margin-inline-start: 20px;
}

#summary .errorCount {
  display: inline-block;
  width: 3em;
  text-align: center;
  color: #FFF;
  padding-inline-end: 0;
}

li {
  list-style-type: none;
}

#tests {
  width: 100%;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

.hidePassingTests .ok {
  display: none;
}

.test {
  width: 100%;
  color: #FFF;
  margin-block-end: 1px;
  cursor: default;
}

.test > div {
  display: flex;
}

.hasErrors {
  background-color: #CB000F;
}

.hasErrors > div,
.hasWarnings > div {
  cursor: pointer;
}

.hasWarnings {
  background-color: #DBB40F;
}

.ok {
  background-color: #00882D;
}

.testName {
  padding-inline-start: 0.5em;
}

.errorCount {
  flex-grow: 1;
  padding-inline-end: 0.5em;
  text-align: end;
}

.errors {
  display: none;
  padding-inline-start: 0;
}

.errors > li {
  padding-inline-start: 1.5em;
  padding-block-start: 0.3em;
  padding-block-end: 0.3em;
  background-color: rgba(255, 255, 255, 0.2);
}

.hasErrors > .errors > li:not(:last-child) {
  border-bottom: 2px solid #CB000F;
}

.hasWarnings > .errors > li:not(:last-child) {
  border-bottom: 2px solid #DBB40F;
}

.errors > li:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.show {
  display: inherit;
}